:root {
    --papaya:#E24E42;
    --aqua:#008F95;
    --mustard: #E98000;
    --blush: #E86E80;
    --black: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-top: 10px;
    margin: auto;
    color: var(--black);
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    font-size: 75px;
    align-items: center;
}

header {
    text-align: center;
}

body {
    height: 40%;
    background-color: var(--blush);
    background-image: url('diversidade-e-inclusão-removebg-preview.png');
    background-repeat: no-repeat;
    background-size: 950px 450px;
    background-position: left;
    background-attachment: fixed;
    backdrop-filter: blur(5px) saturate(150%) opacity(20%);
    }

.container-clientes{
    text-align: right;
}

.alinharRotulos {
    text-align: right;
}

.alinhaBtns {
    width:30%;
    background-color: black;
    color:white;
    border:0px;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
}

.table1{
    clear:both; 
    background-color: var(--aqua);
    border-radius: 10px; 
    color:white;
    padding:10px;
    width:400px;
    margin: 50px 10px 30px 950px;
}

.table2{
    clear:both; 
    background-color: var(--aqua);
    border-radius: 10px; 
    color:white;
    padding:10px;
    width:400px;
    margin: 20px 10px 30px 950px;
}
caption {
    color: var(--black); 
    font-weight: bold; 
    font-size: 25px;
}

.footer{
    border-top: 1px solid var(--papaya);
    padding: 20px;
    text-align: center;
    color: var(--black);
    font-family:'Dancing Script', Arial, Helvetica, sans-serif;
}

.footer p{
    margin-top: 8px;
}